<div class="container">
    <div class="row">
        <div class="col-12 mx-sm-auto my-sm-5 my-md-5 my-lg-5 text-center">
            <h2>{{ site.data.about.title }}</h2>
            <small class="description">{{ site.data.about.slogan }}</small>
        </div>
        <div class="col-lg-12">
            <ul class="timeline">
                <li>
                    <div class="timeline-image">
                        <h4 class='fa fa-user'></h4>
                    </div>
                </li>
                {% for step in site.data.about.steps %}
                <li>
                    <div class="timeline-image">
                        <h4 class='fa fa-{{ step.icon }}'></h4>
                    </div>
                    <div class="timeline-panel py-2">
                        <div class="timeline-heading">
                            <h4>{{ step.date }}</h4>
                            <h4 class="subheading">{{ step.title }}</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">{{ step.text }}</p>
                        </div>
                    </div>
                </li>
                {% endfor %}
                <li>
                    <div class="timeline-image">
                        <h3 class="m-auto">Be<br>part of<br>the<br>story</h3>
                    </div>
                </li>
            </ul>
        </div>
    </div>