<div class="row">
  <!--Grid column-->
  <div class="col-md-6 mb-4 text-center">
    <img src="{{ site.data.about.[page.lang].image }}" class="img-fluid z-depth-1-half"
      alt="">
  </div>
  <!--Grid column-->
  <!--Grid column-->
  <div class="col-md-6 mb-4">

    <!-- Main heading -->
    <h3 class="h3 mb-3">{{ site.data.about.[page.lang].title }}</h3>
    <p class="text-justify">{{site.data.about.[page.lang].description}}</p>
    <!-- Main heading -->
    <hr>
    <!-- CTA -->
    <a href="#services"
      class="btn btn-grey btn-md">{{site.data.about.[page.lang].contactButtonText}}
      <i class="{{site.data.about.[page.lang].contactButtonIcon}} ml-1"></i>
    </a>
    <a href="#" id="showCV" class="btn btn-grey btn-md">{{site.data.about.[page.lang].cvButtonText}} <i class="fas fa-address-card"></i></i>
    </a>
  </div>
  <!--Grid column-->
</div>
