<div class="row">
  <div class="col">
    <h2 class="my-5 h3 text-center">...dear diary...</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <!-- Grid row -->
    {% for post in site.posts limit:3 %}
    <div class="row my-5">
      <!-- Grid column -->
      <div class="col-lg-5">
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
          <img class="img-fluid randomimage" src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-lg-7">
        <!-- Category -->
        <a href="#!" class="green-text">
          <h6 class="font-weight-bold mb-3"><i
              class="fas fa-utensils pr-2"></i>{{ post.tags | array_to_sentence_string }}</h6>
        </a>
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>{{ post.title }}</strong></h3>
        <!-- Excerpt -->
        <p>{{ post.content | strip_html | truncate: 400 }}</p>
        <!-- Post data -->
        <p>by <a><strong>{{ post.author }}</strong></a>, {{ post.date | date_to_string }}</p>
        <!-- Read more button -->
        <a class="btn btn-success btn-md" href="{{ post.url }}">Read more</a>
      </div>
      <!-- Grid column -->
    </div>
    {% endfor %}
  </div>
</div>