<section>
    <div class="container">
        <div class="row">
<div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#carousel-example-multi" data-slide="prev"><i
          class="fas fa-chevron-left"></i></a>
      <a class="btn-floating" href="#carousel-example-multi" data-slide="next"><i
          class="fas fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->
  
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-multi" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-multi" data-slide-to="1"></li>
      <li data-target="#carousel-example-multi" data-slide-to="2"></li>
      <li data-target="#carousel-example-multi" data-slide-to="3"></li>
      <li data-target="#carousel-example-multi" data-slide-to="4"></li>
      <li data-target="#carousel-example-multi" data-slide-to="5"></li>
    </ol>
    <!--/.Indicators-->
  
    <div class="carousel-inner" role="listbox">
  
      <div class="carousel-item active">
        <div class="col-12 col-md-4">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/img (36).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title font-weight-bold">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary btn-md btn-rounded">Button</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-12 col-md-4">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/img (34).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title font-weight-bold">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary btn-md btn-rounded">Button</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-12 col-md-4">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/img (38).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title font-weight-bold">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary btn-md btn-rounded">Button</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-12 col-md-4">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/img (29).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title font-weight-bold">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary btn-md btn-rounded">Button</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-12 col-md-4">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/img (30).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title font-weight-bold">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary btn-md btn-rounded">Button</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-12 col-md-4">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/img (27).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title font-weight-bold">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary btn-md btn-rounded">Button</a>
            </div>
          </div>
        </div>
      </div>
  
    </div>
</div>
  </div>
</div>
</section>

<div class="container">
    <div class="row">
        <div class="col-12 mx-sm-auto my-sm-5 my-md-5 my-lg-5 text-center">
            <h2>{{ site.data.certificates.title }}</h2>
            <small class="description">{{ site.data.certificates.slogan }}</small>
        </div>
    </div>
    <div class="row my-3 py-3">
        <div class="card-columns">
        {% for cert in site.data.certificates.certificates %}
        <div class="card my-2">
            <div class="card-header">
                <h5 class="card-title">{{ cert.title }}</h5>
            </div>
            <div class="card-body" style="background:url({{cert.src}})">
              <p class="card-text">{{ cert.desc }}</p>
              {% if cert.url %}<a href="{{ cert.url }}" class="card-link">View original</a>{% endif %}
            </div>
          </div>
        {% endfor %}
    </div>
    </div>
</div>
</div>