<h2 class="my-5 h3 text-center">{{ site.data.certificates.slogan }}</h2>
    <div class="row my-3 py-3">
        {% for cert in site.data.certificates.certificates %}
        <div class="column flip-box col-4 p-1">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img src="{{cert.src}}" alt="{{cert.title}}" class="img-fluid">
            </div>
            <div class="flip-box-back">
              <h2>{{cert.title}}</h2>
              <p>{{cert.desc}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>