<div class="container">
    <div class="row">
        <div class="col-12 mx-sm-auto my-sm-5 my-md-5 my-lg-5 text-center">
            <h2>{{ site.data.certificates.title }}</h2>
            <small class="description">{{ site.data.certificates.slogan }}</small>
        </div>
    </div>
    <div class="row my-3 py-3">
        {% for cert in site.data.certificates.certificates %}
        <div class="card col-3">
            <div class="card-header">
                <h5 class="card-title">{{ cert.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            </div>
            <div class="card-body" style="background:url({{cert.src}})">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        {% endfor %}
    </div>
</div>
</div>