<div class="container">
    <div class="row">
        <div class="col-12 mx-sm-auto my-sm-5 my-md-5 my-lg-5 text-center">
            <h2>{{ site.data.contactme.[page.lang].title }}</h2>
            <small class="description">{{ site.data.contactme.[page.lang].slogan }}</small>
        </div>
    </div>
    <div class="row my-3 py-3">
        <div class="col text-center">
            {% for s in site.data.contactme.[page.lang].social %}
            <a href="{{ s.link }}" title="{{ s.name }}" class="m-3 fab {{ s.class }} fa-4x" target="_blank"></a>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center" style="display:flex;">
            <a class="btn btn-lg btn-warning fas fa-envelope m-auto p-3" href="mailto:bencsbalazs@gmail.com"> {{ site.data.contactme.[page.lang].writeme }}</a>
        </div>
        <div class="col-md-6 text-center">
            <a href="https://www.youracclaim.com/users/balazs-bencs" class="btn" target="_blank">
                <img src="/images/acclaim.png" alt="acclaim" title="">
            </a>
        </div>
    </div>
</div>