<div class="row mb-5">
    <div class="col-12 text-center">
        <a href="" id="backCV" class="btn btn-warning btn-lg"><i class="fas fa-backspace"></i> Back</a>
        <a href="" id="print" class="btn btn-warning btn-lg"><i class="fas fa-print"></i> Print my CV</a>
    </div>
</div>
<page size="A4">
    <div class="row p-4 row-eq-height align-items-center">
        <div class="col-4 text-center">
            <h2>{{ site.title }}</h2>
        </div>
        <div class="col-5">
            <ul class="text-right" style="list-style: none;">
                {% for p in site.data.cv.personal %}
                    <li>{{p.text}} <i class="{{p.icon}}"></i></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-3">
            <img class="img-fluid" src="{{ site.data.about.[page.lang].image }}">
        </div>
    </div>
    <div class="row p-4">
        <div class="col-2">
            IT skills and experience
        </div>
        <div class="col-10">
            <dl class="row">
                <dt class="col-2">Databases</dt>
                <dd class="col-10">MySQL, MS SQL, noSQL, (5 years) MongoDB</dd>
                <dt class="col-2">Frameworks</dt>
                <dd class="col-10">Moodle 1.9-3.5, Drupal 7-8 and Wordpress on code level (6 years), Node-Red, IBM Cloud, Google Cloud</dd>
                <dt class="col-2">Frontend</dt>
                <dd class="col-10">HTML5, CSS1-4, JavaScript, Angular 1-6, jQuery, (6 years), Bootstrap (6 years)</dd>
                <dt class="col-2">Backend</dt>
                <dd class="col-10">PHP 5-7 (6 years), JAVA (0.5 year), NodeJS (2.5 year)</dd>
                <dt class="col-2">Server, OS</dt>
                <dd class="col-10">Apache 2.2-2.4, NginX, RedHat 7-8, Debian 6-9, Ubuntu 10.04-16.10, Kali (5 years)</dd>
                <dt class="col-2">Graphics</dt>
                <dd class="col-10">Gimp 2.8, PhotoShop CS4</dd>
                <dt class="col-2">Development techniques</dt>
                <dd class="col-10">Docker, WebPack, StencilJS (Webcomponent)</dd>
                <dt class="col-2">Metho - dologies</dt>
                <dd class="col-10">Agile development, Kanban, Scrum</dd>
            </dl>
        </div>
    </div>

    <div class="row p-4">
        <div class="col-2">
            Work experience
        </div>
        <div class="col-10">
            <article class="mb-2">
                <h4>Ecotech Nonprofit Zrt.</h4>
                <div class="font-weight-bold">programmer, system administrator</div>
                <small class="font-italic">2011 – 2013</small>
            </article>
            <article class="mb-2">
                <h4>University of Dunaújváros</h4>
                <div class="font-weight-bold">programmer, framework expert, methodological suporter</div>
                <small class="font-italic">2013 – 2018</small>
            </article>
            <article class="mb-2">
                <h4>Czidro bt, later Onetech Ltd.</h4>
                <div class="font-weight-bold">programmer, web-framework expert</div>
                <small class="font-italic">2011 – 2018</small>
            </article>
            <article class="mb-2">
                <h4>IBM International Shared Service Center Hungary Ltd</h4>
                <p>Global Hrit Cloud Solutions Team</p>
                <div class="font-weight-bold">web/application developer</div>
                <small class="font-italic">2018 february –</small>
            </article>
        </div>
    </div>
</page>
<page size="A4">
    <div class="row p-4">
        <div class="col-2">
            Studies
        </div>
        <div class="col-10">
            <article class="mb-2">
                <h4>University of Dunaújváros</h4>
                <div class="font-weight-bold">Bachelor of science degree (system and network engineering)</div>
                <small class="font-italic">2009-2014</small>
            </article>
            <article class="mb-2">
                <h4>Training 360</h4>
                <div class="font-weight-bold">Assertive communikation</div>
                <small class="font-italic">2019</small>
            </article>
        </div>
    </div>
    <div class="row p-4">
        <div class="col-2">
            Other skills
        </div>
        <div class="col-10">
            <ul>
                <li>Endurance - I search and ask until I solve any problem.</li>
                <li>I can work alone, but it is more effective in a team.</li>
                <li>System approach - I like to understand everything in the process</li>
                <li>Lojality</li>
                <li>Docility, and learning desire - I like to study in my spare time, what I have not known yet.</li>
            </ul>
        </div>
    </div>
    <div class="row p-4">
        <div class="col-2">
            Some of My badges
        </div>
        <div class="col-10">
            <div class="row">
                {% for img in site.data.certificates.certificates %}
                <div class="col-4">
                    <img src="{{ img.src }}" class="img-fluid">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</page>
<page size="A4">
    <div class="row p-4">
        <div class="col-2">
            {{ site.data.cv.references.title }}
        </div>
        <div class="col-10"> 
            {% for ref in site.data.cv.references.list %}
            <div class="my-2">
                <span class="font-italic">{{ ref.name }}</span> 
                <span>{{ ref.description }}</span>
                <div class="font-weight-bold">{{ ref.role }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</page>


