<footer class="page-footer text-center font-small mt-4 wow fadeIn bg-dark">
    <div class="pt-4">
      {% for button in site.data.contactme.[page.lang].buttons %}
      <a class="btn btn-outline-warning" href="{{ button.link }}" role="button">{{ button.text }}
        <i class="{{ button.icon }} ml-2"></i>
      </a>
      {% endfor %}
    </div>
    <hr class="my-4">
    <div class="pb-4">
      {% for s in site.data.contactme.[page.lang].social %}
        <a 
          href="{{ s.link }}" 
          title="{{ s.name }}" 
          class="m-3 fab {{ s.class }} fa-2x"></a>
      {% endfor %}
    </div>
    <div class="footer-copyright py-3">© Balázs Bencs 2011 - 2019</div>
  </footer>