<header>
    <div class="view">

        <!--Video source-->
        <video autoplay class="video-intro" loop muted>
            <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4"/>
        </video>

        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
                <h1 class="mb-4">
                    <strong>Bencs Balázs</strong>
                </h1>

		{% for slogan in site.data.slogans  %}
                <p>{{slogan.slogan}}</p>
                {% endfor  %}
                <a class="btn btn-outline-white btn-lg" href="#aboutme">About me
                    <i class="fas fa-graduation-cap ml-2"></i>
                </a>
            </div>
            <!-- Content -->

        </div>
    </div>
</header>
