<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" id="siteNav">
    <a class="navbar-brand" href="/">{{ site.title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-100" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            {% for link in site.data.nav.[site.lang] %}
            <script>console.log('{{ page.path }}')</script>
            <li class="nav-item rounded">
                <a class="nav-link" href="{% if page.path != 'index.html' %}/{% endif %}{{ link[1].url }}">{{ link[1].name }}</a>
            </li>
            {% endfor %}
        </ul>
        <ul class="navbar-nav pull-right">
            <!-- <a class="btn btn-outline-warning mx-1 disabled" href="">EN</a>
            <a class="btn btn-outline-warning mx-1 disabled" href="">HU</a> -->
        </ul>
    </div>
</nav>