<div class="container">
  <div class="row">
      <div class="col-12 mx-sm-auto my-sm-5 my-md-5 my-lg-5 text-center">
          <h2>{{ site.data.services.title }}</h2>
          <small class="description">{{ site.data.services.slogan }}</small>
      </div>
  </div>
  <div class="row card-column">
	{% for tile in site.data.services.tiles %}
      <div class="card col-md-6 col-lg-4 p-4">
          <i class="fa fa-{{ tile.icon }} fa-2x mx-auto"></i>
          <h3 class="description pt-3">{{ tile.title }}</h3>
          <div class="card-body text-justify">{{ tile.text }}</div>
      </div>
	{% endfor %}
  </div>
</div>
