<div class="row servicesbox mt-5 p-3">
  <!--Grid column-->
  {% for tile in site.data.services.tiles %}
  <div class="col-xl-3 col-lg-6 tile" data-aos="zoom-in">
    <!--Grid row-->
    <div class="row">
      <div class="col-2 p-0">
        <i class="{{ tile.icon }} fa-2x mb-1 indigo-text" aria-hidden="true"></i>
      </div>
      <div class="col-10 mb-2 pl-3">
        <h5 class="feature-title font-bold mb-1">{{ tile.title }}</h5>
        <p class="grey-text mt-2 text-justify">
          {{ tile.text }}
        </p>
      </div>
    </div>
    <!--/Grid row-->
  </div>
  {% endfor %}
  <!--/Grid column-->
</div>