/* Necessary for full page video*/
html,
body,
header,
.view {
  height: 100%;
}
.navbar {
  background: rgba(30, 35, 50,.9);
}
.navbar:not(.top-nav-collapse) {
  background: rgba(30, 35, 50,.6);
}

.partner {
  height: 4em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;  
}

#image-gallery-image {
  object-fit: contain;
}

.card-header {
  padding: 0rem 1.25rem;
}

#listByDate ul {
  font-size: 1.2rem;
  padding-left: .4em;
  list-style: none;
}

#listByDate li {
  border-bottom: black solid 1px;
  padding: .5rem 0;
  list-style: none;
}