html{scroll-behavior: smooth;}
html,body,header,.view {height: 100%;}
header > .inner {z-index: 999;}
.affix {position: fixed;top: 0;width: 100%;z-index: 9999 !important;}
.is-sticky{width: 100%;z-index: 999;}
body, section {overflow-x: hidden;}
header > .inner {
  position: absolute;
  top: 25%;
  left: 20%;
  right: 20%;
  text-align: center;
}

p {
    text-align: justify
}

nav li:hover, .active {
    background: rgb(255,200,0)
}

.carousel,
.carousel-item,
.carousel-inner,
.carousel-item.active {
    height: 100%;
}

.carousel{
  position:fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  right: 0;
  z-index:-1
}
.carousel div{
  position:absolute;
}
.carousel img {
  width: 100%;
  height: 100%;
}
.carousel-control {
  display: none;
  visibility: hidden;
}

.separator {
  width: 70%;
  height: .5em;
  box-shadow: 0 0 .5em #fff;
  border-radius: 50%;
  background-color: black;
}
/* Custom fonts */
.row > div > small, .main-title, .row > div > h2, .carousel-caption h3,.carousel-caption p{
  letter-spacing: .3em;
    font-family: sans-serif;
    font-style: italic;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.main-title {
  font-size: 2rem;
}
.row > div > h2 {
  font-size: 3rem;
}
.row > div > small {
  font-size: 2rem;
}
.carousel-caption p {
  font-size: 1.5rem;
}
.bgc-white {
  background: rgba(255,255,255,0.8);
}

#profilpicture img{
    border:.25em solid rgba(255,255,255,1);
    box-shadow:0 0 .5em #000
}
#profilpicture>figcaption{
    margin-top:-10%;
    z-index:999
}
.card-column > .card{
    background:rgba(255,255,255,0.8);
}.card-column > .card,.card-column > .card>.fa,.card-column > .card>div,.card-column > .card>h3{
    transition:linear 1s
}
.card-column > .card{
    transform:scale(.95);
    border:0 solid #fff
}.card-column > .card>.fa{
    transform:scale(2)
}
.card-column > .card>div,.card-column > .card>h3{
    transform:scale(.8);
    text-align:center
}.card-column > .card:hover>div,.card-column > .card:hover>h3{
    transform:scale(1)
}
.card-column > .card:hover{
    transform:scale(1.1);
    z-index:999;
    border:.2em solid #000;
    box-shadow:0 0 .8em #fff
}
.card-column > .card:hover>.fa{
    transform:scale(.6)
}

/* AboutMe timeline */
.timeline {
    position: relative;
    padding: 0;
    list-style: none
}

.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: '';
    background-color: #e9ecef
}

.timeline>li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}

.timeline>li:after, .timeline>li:before {
    display: table;
    content: ' '
}

.timeline>li:after {
    clear: both
}

.timeline>li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
    background: rgba(255,255,255,.8);
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0
}

.timeline>li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: #fff;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: rgb(255,200,0);
    display: flex
}

.timeline>li .timeline-image h4 {
    font-size: 2rem;
    line-height: 14px;
    display: flex;
    margin: auto;
}

.timeline>li:nth-child(even)>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left
}

.timeline>li:nth-child(even)>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0
}

.timeline>li:nth-child(even)>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0
}

.timeline>li:last-child {
    margin-bottom: 0
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit
}

.timeline .timeline-heading h4.subheading {
    text-transform: none
}

.timeline .timeline-body>p, .timeline .timeline-body>ul {
    margin-bottom: 0
}

.blog-content {
    text-align: justify
}

.timeline>li .timeline-image h3 {
    font-size: 0.7rem
}

@media (min-width:768px) {
    .main-title {
        font-size: 3rem;
      }
    .timeline:before {
        left: 50%
    }
    .timeline>li {
        min-height: 100px;
        margin-bottom: 100px
    }
    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right
    }
    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px
    }
    .timeline>li .timeline-image h4 {
        margin: auto;
        font-size: 3rem
    }
    .timeline>li .timeline-image h3 {
        font-size: 0.9rem
    }
    .timeline>li:nth-child(even)>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left
    }
}

@media (min-width:992px) {
    .main-title {
        font-size: 4rem;
      }
    .timeline>li {
        min-height: 150px
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px
    }
    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px
    }
    .timeline>li .timeline-image h4 {
        margin: auto;
        font-size: 4rem
    }
    .timeline>li .timeline-image h3 {
        font-size: 1.5rem
    }
    .timeline>li:nth-child(even)>.timeline-panel {
        padding: 0 20px 20px
    }
}

@media (min-width:1200px) {
    .timeline>li {
        min-height: 170px
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px
    }
    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px
    }
    .timeline>li .timeline-image h4 {
        margin: auto;
        font-size: 4rem
    }
    .timeline>li:nth-child(even)>.timeline-panel {
        padding: 0 100px 20px 20px
    }
}

/* ContactMe form design */
#contactme{
    background: rgba(255,255,255,.8);
}
#contactme a:hover {
    text-decoration: none;
}

/* Partners bar styling */
.partner{
    filter: grayscale(100%);
    height:150px;
    transition:linear .5s;
}
.partner:hover{
    filter: grayscale(0%);
    transition:linear .5s;
}
.partner img{
    display: block;
    opacity:0.8;
    width:100%;
    height:100%;
    object-fit: contain;
    overflow: hidden;
}

/* Post style */
.conclusion {
    margin: 2em;
    padding: 2em 0;
    border-top: solid 0.2em rgb(255,200,0);
    border-bottom: solid 0.2em rgb(255,200,0);
    font-family: "Font Awesome 5 Free";
    display: flex;
}
.conclusion::before {
    content: "\f19d";
    font-size: 3em;
    margin-right: 1em;
    margin-top: auto;
    margin-bottom: auto;
}