html {
    scroll-behavior: smooth;
}

html,
body,
header,
.view {
    min-height: 100%;
    overflow-x: hidden;
}

.view video{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
}

a {
    color: #faa700;
    text-decoration: none;
}

a:focus {
    outline: thin dotted;
}

.navbar {
    background: rgba(30, 35, 50,.9);
}

.navbar:not(.top-nav-collapse) {
    background: rgba(30, 35, 50,.6);
}
.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.navbar-brand {
    font-family: 'Caveat', cursive;
}

.pagesection {
    margin: 14em 0;
}

.white-gradient{
background: -moz-linear-gradient(left,  transparent 0%, #ffffff 20%, #ffffff 80%, transparent 100%);
background: -webkit-linear-gradient(left,  transparent 0%,#ffffff 20%,#ffffff 80%,#7db9e8 100%);
background: linear-gradient(to right, transparent 0%,#ffffff 20%,#ffffff 80%, transparent 100%);
}

.servicesbox{
    background: white;
    box-shadow: 0 0 1em #fff;
}

.tile {
    padding-top: .5em;
}

.box{
    position: relative;
    margin: 2em;
    box-shadow: 10px 10px 42px 0 rgba(0,0,0,0.75);
}
.box:after, .box:before{
    mix-blend-mode:multiply;
    filter:none;
    z-index: -1;
    content:'';
    width:calc(100% + (50px * 2));
    height:calc(100% + (50px * 2));
    position: absolute;
    display: block;
    animation: border 10s ease-in-out infinite;
    transform:translateX(-50px) translateY(-50px);
}
@keyframes border {
    0%, 100% {
        -webkit-clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
        clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
    }
    50% {
        -webkit-clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
        clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
    }
}

.box:after{
    top:0;
    animation-delay: -5s;
    background-color: #3f51b5;
    clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
}
.box:before {
    background-color: #fed136;
    clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
}

.box:hover:after{
    animation-delay: -0.1s;
}
.box:hover:before, .box:hover:after {
    animation-duration: 2s;
}

#certificets .img-thumbnail {
    border: none;
}

.partner {
    height: 4em;
    margin: 1em 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.partner:hover{
    transform: scale(1.5);
}

#image-gallery-image {
    object-fit: contain;
}

.card-header {
    padding: 0rem 1.25rem;
}

#listByDate ul {
    font-size: 1.2rem;
    padding-left: .4em;
    list-style: none;
}

#listByDate li {
    border-bottom: black solid 1px;
    padding: 1rem .5rem;
    list-style: none;
    font-size: 1.2rem;
    border-left: black solid 1px;
    cursor: pointer;
    font-weight: bold;
}

page[size="A4"] {
    width: 21cm;
    min-height: 29.7cm;
}

page > .row > .col-2 {
    border-right: solid 1px;
}

.row {
    -webkit-region-break-inside: avoid;
    page-break-inside: avoid;
}

.tooltiptext {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    max-width: 15rem;
    bottom: 125%;
    left: 50%;
    background: #FFF;
    box-shadow: 0 0 .5em #fff;
    border: solid 1px #fb3;
    color: #495057;
    margin-left: -25%;
    padding: 0 1rem;
    line-height: 2rem;
    font-size: 1rem;
    text-align: center;
    border-radius: 0.6rem;
    transition: opacity 0.5s;
}

.partner:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltiptext::before {
     content: '';
     display: block;
     position: absolute;
     left: 50%;
     bottom: -20px;
     width: 0;
     height: 0;
     border: 10px solid transparent;
     border-bottom-color: #fb3;
     transform: rotate(180deg);
 }

.tooltiptext::after {
     content: '';
     display: block;
     position: absolute;
     left: 50%;
     bottom: -17px;
    margin-left: 1px;
     width: 0;
     height: 0;
     border: 9px solid transparent;
     border-bottom-color: white;
     transform: rotate(180deg);
 } 

@media print {
    body > *:not(#cv), #cv > .container > .row {
        display: none;
    }

    page > div {
        display: inline-block;
    }

    page, #cv, .container {
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
        height: auto;
        font-size: 110%;
    }
}
