<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    {% include nav.html %}
    {% include header.html %}
    <section class="my-5 py-5 wow fadeIn" id="services">
	{% include services.html %}
    </section>
    <section class="my-5 py-5 wow fadeIn" id="contactme">
        {% include contactme.html %}
    </section>
    <section class="my-5 py-5 wow fadeIn" id="aboutme">
        {% include about.html %}
    </section>
    <section class="my-5 py-5 wow fadeIn" id="certificets">

    </section>
    {% include partners.html %}

    {% include plugin.html %}
</body>

</html>