<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body data-spy="scroll" data-target="#siteNav" data-offset="0" id="top">
    {% include nav.html %}
    {% include header.html %}
    <section class="my-5 py-5 wow fadeIn" id="services">
	{% include services.html %}
    </section>
    <section class="my-5 py-5 wow fadeIn" id="contactme">
        {% include contactme.html %}
    </section>
    <section class="my-5 py-5 wow fadeIn" id="aboutme">
        {% include about.html %}
    </section>
    <section class="my-5 py-5 wow fadeIn" id="certificets">
        <h1>Latest Posts</h1>
            <ul>
  {% for post in site.posts %}
    <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <p>{{ post.excerpt }}</p>
    </li>
  {% endfor %}
</ul>
    </section>
    {% include partners.html %}

    {% include plugin.html %}
</body>

</html>