<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body data-spy="scroll" data-target="#siteNav" data-offset="0" id="top">
    {% include nav.html %}
    {% include header.html %}
    <section class="my-5 py-5 wow fadeIn" id="services">
	{% include services.html %}
    </section>
    <section class="my-5 py-5 wow fadeIn" id="contactme">
        {% include contactme.html %}
    </section>
    <section class="my-5 py-5 wow fadeIn" id="aboutme">
        {% include about.html %}
    </section>
    <section class="my-5 py-5 wow fadeIn" id="certificets">
        
    </section>
    
    <section class="my-5 py-5 bgc-white" id="blog">
        {% include blog.html %}
    </section>

    {% include partners.html %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                &copy; {{ site.copyright }}
            </div>
        </div>
    </div>

    {% include plugin.html %}
</body>

</html>