<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body data-spy="scroll" data-target="#siteNav" data-offset="0" id="top">
    {% include nav.html %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mt-5">
                <h2 class="blog-post-title">{{ page.title }}</h2>
                <p class="blog-post-meta">{{ page.date | date_to_string }} by {{ page.author }}</p>
                <p class="blog-post-meta">
                    Tags: 
                    {% for tag in page.tags %}
                    {{ tag }}{% if forloop.last != true %}, {% endif %} 
                    {% endfor %}
                </p>
                <p class="blog-post-meta">
                        Categories: 
                        {% for category in page.categories %}
                            {{ category }}{% if forloop.last != true %}, {% endif %}
                        {% endfor %}
                </p>
                <div class="blog-content">
                    {{ content }}
                </div>
            </div>
            {% include blog_sidebar.html %}
        </div>
    </div>
<nav>
  <ul class="pagination pagination-lg my-5">
    {% if page.previous.url %}
    <a class="page-item disabled col prev" href="{{page.previous.url}}">
        &laquo; {{page.previous.title}}
    </a>
    {% endif %}
    <li class="page-item col">
      <a class="page-link text-right" href="{{ paginator.next_page_path }}">Next</a>
    </li>
  </ul>
</nav>
    {% include plugin.html %}
</body>
    
</html>
