<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body data-spy="scroll" data-target="#siteNav" data-offset="0" id="top">
    {% include nav.html %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mt-5">
                <h2 class="blog-post-title">{{ page.title }}</h2>
                <p class="blog-post-meta">{{ page.date }} by {{ page.author }}</p>
                <p class="blog-post-meta">
                    Tags: 
                    {% for tag in page.tags %}
                        {{ tag }} 
                    {% endfor %}
                </p>
                <p class="blog-post-meta">
                        Categories: 
                        {% for category in page.categories %}
                            {{ category }} 
                        {% endfor %}
                </p>
                <div class="blog-content">
                    {{ content }}
                </div>
            </div>
            {% include blog_sidebar.html %}
        </div>
    </div>
<nav>
  <ul class="pagination pagination-lg my-5">
    <li class="page-item disabled col">
      <a href="{{ paginator.previous_page_path }}" class="page-link">Previous</a>
    </li>
    <li class="page-item col">
      <a class="page-link text-righty" href="{{ paginator.next_page_path }}">Next</a>
    </li>
  </ul>
</nav>
    {% include plugin.html %}
</body>
    
</html>
